.cart-wrapper {
    position: relative;
    margin-right: 20px;
}

.cart-icon {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ffc107;
    color: #000;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
    display: none;
} 