/* Adjusting Navbar */
.navbar {
    font-family: 'Playfair Display', serif;
    border-bottom: 2px solid white;
    
}
.navbar-brand {
    margin-right: 20px;
    font-size: 24px;
    font-family: 'Playfair Display', serif;   
}
.nav-link {
    color: black;
    font-weight: 900;
    padding: 10px;
}
.nav-link:hover {
    background-color: #856f11;
    color: white;
    border-radius: 5px;
}
.notification-icon {
    font-size:18px;
    position: relative;
    color: black;
}
.nav-link .dropdown-toggle{
    margin-right: 10px;

}
.notification-icon .notification-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    font-size: 10px;
    border-radius: 50%;
    padding: 2px 6px;
}

/* Account Management Styles */
.container h2 {
    color: #ac8128;
    font-family: 'Georgia', serif;
}

.card {
    border: 2px solid #ac8128;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table td {
    vertical-align: middle;
}

.editable {
    background-color: #f9f9f9;
    border: 1px solid #a87919;
}
