CREATE TABLE IF NOT EXISTS table_reservations (id INT PRIMARY KEY AUTO_INCREMENT, table_type VARCHAR(255) NOT NULL, capacity INT NOT NULL, reservation_date DATE NOT NULL, reservation_time TIME NOT NULL, number_of_guests INT NOT NULL, special_requests TEXT, user_id INT, status ENUM('pending', 'pending_guest', 'confirmed', 'cancelled', 'completed') NOT NULL DEFAULT 'pending', created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, FOREIGN KEY (user_id) REFERENCES userss(id) ON DELETE SET NULL);
